.text-purple {
  color: #7b2ff7;
}

.form-control:focus {
  border-color: #a970ff;
  box-shadow: 0 0 0 0.15rem rgba(123, 47, 247, 0.25);
}

input::placeholder {
  color: #999;
}

.form-control {
  border-radius: 8px;
  font-size: 1rem;
}
