.text-purple {
  color: #7b2ff7;
}

.gradient-record-btn {
  background: linear-gradient(to right, #f66ec1, #f78baf);
  color: white;
  border: none;
  font-weight: 600;
  border-radius: 10px;
  transition: 0.3s;
}

.gradient-record-btn:hover {
  opacity: 0.9;
}
